<div id="<%= dom_id cart %>" class="w-full my-5 space-y-5">
    <% if cart.line_items.any? %>
        <% cart.line_items.each do |line_item| %>
        <div class="bg-white p-5 rounded-lg shadow-md flex flex-col md:flex-row items-center md:items-start">
            <div class="flex-1">
                <h2 class="font-semibold text-xl mb-2"><%= line_item.product.title %></h2>
                <p class="font-bold mb-2"><%= number_to_currency(line_item.product.price) %></p>
                <p class="mb-2">Quantity: <%= line_item.quantity %></p>
            </div>
            <div class="mt-4 md:mt-0 md:ml-6">
            <%= button_to 'Remove', line_item_path(line_item), method: :delete, form_class: "inline", class: "bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
            </div>
        </div>
        <% end %>
    <% else %>
        <p class="text-gray-600">Your cart is empty.</p>
    <% end %>
</div>
