<!DOCTYPE html>
<html>
  <head>
    <title> The Pragmatic Collection</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="w-full flex flex-row bg-[#F2F0EF] min-h-screen h-full">      
    <ul class="w-[160px] bg-[#2C4A3B] flex flex-col text-white shadow-lg overflow-hidden h-100vh z-10">
      <li class="h-16 flex items-center px-6 border-b border-white/10 fixed top-0 bg-[#2C4A3B] z-10 w-[160px]">
            <h1 class="text-xl font-semibold tracking-wide">Pragmatic</h1>
      </li>

      <li class="hover:bg-[#3E6351] mt-25">
        <%= link_to "Home", store_index_path, class: "flex items-center px-4 py-2.5 bg-white/10 text-white rounded-md transition-colors" %>
      </li>
      <li>
        <a href="#" class="flex items-center px-4 py-2.5 text-gray-300 hover:bg-white/5 hover:text-white rounded-md transition-colors">
                <span class="text-sm font-medium">Questions</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex items-center px-4 py-2.5 text-gray-300 hover:bg-white/5 hover:text-white rounded-md transition-colors">
            <span class="text-sm font-medium">News</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex items-center px-4 py-2.5 text-gray-300 hover:bg-white/5 hover:text-white rounded-md transition-colors">
            <span class="text-sm font-medium">Contact</span>
        </a>
      </li>
    </ul>
    <div class="flex flex-col flex-1 min-h-screen">
      <header class="bg-white shadow-md h-16 content-center fixed top-0 z-10 w-[calc(100%-160px)]">
        <div class="w-full px-5 py-4 flex justify-end items-center">
          <nav>
            <ul class="flex space-x-4">
              <li><a href="#" class="text-gray-700 hover:text-gray-900">Login</a></li>
              <li><a href="#" class="text-gray-700 hover:text-gray-900">Register</a></li>
              <li><a href="#" class="text-gray-700 hover:text-gray-900">Cart (0)</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <main class="w-full bg-[#F2F0EF] mx-auto px-3  md:px-5 pb-5 mt-20 h-full">
          <%= yield %> 
      </main>
    </div>
  </body>
</html>
